<%# #displays chess board %>
<h1 class="mt-6 mb-6 tracking-widest text-sm md:text-4xl upcase flex justify-center">Play a Game!</h1>
 
<div class= "flex flex-center">
    <iframe src="https://fritz.chessbase.com" style="width:760px;height:600px"></iframe>
</div>