<div class="mx-10 mt-10 p-5 md:p-10 md:w-100 shadow-xl bg-gray-100">
    <h1 class="mt-6 tracking-widest text-sm md:text-4xl upcase flex justify-center">Welcome to CheckMate</h1>
    <p class = " mx-10 my-6 md:w-100"> Want to play chess? Well you landed on the right page. 
    Whether you consider yourself an expert or a complete beginner, 
    you have come to the right place! <p>

    <p class = "mx-10 md:w-100 "> If it is your first time visiting, go ahead 
    and sign up but wait you'll notice you can sign up as a tutor or a player. 
    If you think you could help someone with their chess journey why not 
    sign up as a Tutor?</p> 

    <p class ="mx-10 mt-6 md:w-100 "> Enjoy your game! </p>

</div>
 