<h1 class="mt-6 tracking-widest text-sm md:text-4xl upcase flex justify-center">Edit your Question!</h1>
 

<%= render 'form', forum: @forum %>

<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>
