<h1 class="mt-6 tracking-widest text-sm md:text-4xl upcase flex justify-center">Edit Profile</h1>

<%= render 'form', user: @user %>

<div class = "text-sm">
    <%= link_to 'Show', users_path %> |
    <%= link_to 'Back', users_path %>
</div>